* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/edu/uiowa/slis/LD4L/Indexer.java -text
src/main/java/edu/uiowa/slis/LD4L/NTripleEncoder.java -text
src/main/java/edu/uiowa/slis/LD4L/Sinopia/Profile.java -text
src/main/java/edu/uiowa/slis/LD4L/Sinopia/PropertyTemplate.java -text
src/main/java/edu/uiowa/slis/LD4L/Sinopia/ResourceTemplate.java -text
src/main/java/edu/uiowa/slis/LD4L/Sinopia/ValueConstraint.java -text
src/main/java/edu/uiowa/slis/LD4L/SinopiaProfileLoader.java -text
src/main/java/edu/uiowa/slis/LD4L/TripleLoader.java -text
src/main/java/edu/uiowa/slis/LD4L/TripleStreamer.java -text
src/main/resources/META-INF/taglib.tld -text
src/non-packaged-resources/Model.clay -text
src/non-packaged-resources/catalog-v001.xml -text
src/non-packaged-resources/ld4l.ttl -text
src/test/java/edu/uiowa/slis/LD4L/README.txt -text
src/test/resources/README.txt -text
