* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/edu/uiowa/slis/LD4L/Indexer.java -text
src/main/java/edu/uiowa/slis/LD4L/NTripleEncoder.java -text
src/main/java/edu/uiowa/slis/LD4L/NTripleFilter.java -text
src/main/java/edu/uiowa/slis/LD4L/SHAREunpack.java -text
src/main/java/edu/uiowa/slis/LD4L/ShortStory/Author.java -text
src/main/java/edu/uiowa/slis/LD4L/ShortStory/CommaByExtractor.java -text
src/main/java/edu/uiowa/slis/LD4L/ShortStory/CommaExtractor.java -text
src/main/java/edu/uiowa/slis/LD4L/ShortStory/Extractor.java -text
src/main/java/edu/uiowa/slis/LD4L/ShortStory/ShortStory.java -text
src/main/java/edu/uiowa/slis/LD4L/ShortStory/SlashExtractor.java -text
src/main/java/edu/uiowa/slis/LD4L/ShortStoryLoader.java -text
src/main/java/edu/uiowa/slis/LD4L/Sinopia/Profile.java -text
src/main/java/edu/uiowa/slis/LD4L/Sinopia/PropertyTemplate.java -text
src/main/java/edu/uiowa/slis/LD4L/Sinopia/ResourceTemplate.java -text
src/main/java/edu/uiowa/slis/LD4L/Sinopia/ValueConstraint.java -text
src/main/java/edu/uiowa/slis/LD4L/SinopiaProfileLoader.java -text
src/main/java/edu/uiowa/slis/LD4L/TripleLoader.java -text
src/main/java/edu/uiowa/slis/LD4L/TripleStreamer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/CERL/CorporateIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/CERL/ImprintIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/CERL/PersonIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/LoC/CountriesIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/LoC/CulturalOrganizationsIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/LoC/DemographicsIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/LoC/GenreIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/LoC/InstancesIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/LoC/NamesIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/LoC/PerformanceIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/LoC/RWOIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/LoC/SubjectsIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/LoC/VocabIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/LoC/WorksIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/Queue.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/ThreadedIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/general/AgrovocIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/general/FASTIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/general/GeoNamesIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/general/GettyIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/general/HomosaurusIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/general/ISNIIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/general/LigatusIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/general/MeSHIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/general/NALTIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/general/PCCIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/indexing/general/RDAIndexer.java -text
src/main/java/edu/uiowa/slis/LD4L/util/LocalProperties.java -text
src/main/java/edu/uiowa/slis/LD4L/util/PropertyLoader.java -text
src/main/resources/META-INF/taglib.tld -text
src/non-packaged-resources/Model.clay -text
src/non-packaged-resources/catalog-v001.xml -text
src/non-packaged-resources/ld4l.ttl -text
src/test/java/edu/uiowa/slis/LD4L/README.txt -text
src/test/resources/README.txt -text
